{% extends "base.html" %} 
{% block title %} About {% endblock title %} 
{% block body %}
<div class="container py-4">
  <header class="pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
      <span class="fs-4"><strong>About Us</strong></span>
    </a>
  </header>

  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid text-bg-dark py-5">
      <h1 class="display-5 fw-bold">History</h1>
      <p class="col-md-8 fs-4">
        Welcome to our ice cream shop, where every scoop tells a story of
        tradition and innovation! Established in 1978, our journey began with a
        simple desire: to craft the finest ice cream experience for our
        community. Inspired by the rich history of frozen delights dating back
        centuries, we embarked on a mission to blend time-honored recipes with
        modern flavors and techniques. From the creamy indulgence of classic
        vanilla to the adventurous swirls of exotic fruits, each scoop is a
        testament to our passion for quality and creativity. Over the years,
        we've delighted countless taste buds and created memories that linger
        long after the last lick. As we continue to scoop up smiles and satisfy
        cravings, we invite you to join us on this sweet journey through history
        and flavor at our beloved ice cream shop.
      </p>
    </div>
  </div>

  <footer class="pt-3 mt-4 text-body-secondary border-top">© 2024</footer>
</div>
{% endblock body %}